<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<title>Hello, world!</title>
</head>

<body>
	<br>
	<h3 style="text-align: center">Update without refresh page</h3>
	<br>
	<table class="table table-hover table-bordered" id="table1" style="width: 80% ;margin-left: auto;margin-right: auto; text-align: center">
		<thead class="table-dark">
			<tr>
				<th></th>
				<th scope="col">Code</th>
				<th scope="col">Priority</th>
				<th scope="col">LowerLimit</th>
				<th scope="col">UpperLimit</th>				
			</tr>
		</thead>
		<tbody>
			{% regroup all|dictsort:'code' by code as code_list %}
			{% for code,entries in code_list %}
			<tr id="{{code}}">
				<td class="table-plus-{{code}}"><b>+</b></td>
				<td class="table-minus-{{code}}" style="display:none;"><b>-</b></td>
				<td>{{entries.0.code}}</td>
				<td>{{entries.0.priority}}</td>
				<td>{{entries.0.lower_limit}}</td>
				<td>{{entries.0.upper_limit}}</td>
			</tr>
			<tbody id="{{code}}_rows" style="display:none;">
				{% for entry in entries %}
				{% if forloop.counter != 1 %}
				<tr>
					<td></td>
					<td>{{entry.code}}</td>
					<td>{{entry.priority}}</td>
					<td>{{entry.lower_limit}}</td>
					<td>{{entry.upper_limit}}</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
			{% endfor %}
		</tbody>
	</table>
	<div class="container" style="padding: 0% 7% 0% 7% ; margin-bottom: 1rem">
		<form name="form" id="form1"> {% csrf_token %}
			<div class="mb-3">
				<label class="form-label">Enter code</label>
				<br>
				<!-- <input type="text" class="form-control" id="code" name = "code"> -->
				<select id="code" name="code" required>
					{% regroup all|dictsort:'code' by code as code_list %}
					<option disabled selected value>-- &nbsp &nbsp Choose code &nbsp &nbsp--</option> 
					{% for code,entry in code_list %}
					<option value={{code}}>{{code}}</option> {% endfor %} 
				</select>
			</div>
			<div class="mb-3">
				<label class="form-label">Enter priority</label>
				<br>
				<select id="priority" name="priority" required>
					{% regroup all|dictsort:'priority' by priority as priority_list %}
					<option disabled selected value>-- &nbsp Choose priority &nbsp--</option> 
					{% for priority,entry in priority_list %}
					<option value={{priority}}>{{priority}}</option> {% endfor %} 
				</select>
			</div>
			<div class="mb-3" style="padding: 0% 80% 0% 0%">
				<label class="form-label">Enter new lower limit</label>
				<input type="number" class="form-control" id="lower_limit" name="lower_limit" required="required"> </div>
			<div class="mb-3" style="padding: 0% 80% 0% 0%">
				<label class="form-label">Enter new upper limit</label>
				<input type="number" class="form-control" id="upper_limit" name="upper_limit" required="required"> </div>
			<div class="container">
				<div class="row">
					<div class="col">
						<button type="submit" class="btn btn-success" id="updatebtn">Update</button>
					</div>
					<div class="col">
						<div class="alert alert-success" role="alert" id="successmsg" style="display: none; padding: 1% 1% 1% 1%; text-align: center;margin-bottom: 0%">
							Entry updated!
						</div>
						<div class="alert alert-danger" role="alert" id="failuremsg" style="display: none; padding: 1% 1% 1% 1%; text-align: center;margin-bottom: 0%">
							No such entry exists!
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->

	{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script>
	// $(document).ready(function () 
	// {
	//   document.getElementById('form1').reset();
	// });
	// console.log("Helloooo");
	// // $('form').each(function() { this.reset() });
	$(document).ready(function() {
		console.log("Doc ready");
		$('#form1').submit(function() {
			console.log("click");
			// if($('#lower_limit').val() == '' || $('#upper_limit').val() == '' || $('#priority').val() == '')
			//   alert("Empty values not accepted");
			// var fname = $('#fname').val();
			// var lname = $('#lname').val();
			// var data = {'fname': fname,'lname': lname};
			// else
			{
				$.ajax({
					url: '/',
					type: 'POST',
					data: {
						code: $('#code').val(),
						lower_limit: $('#lower_limit').val(),
						upper_limit: $('#upper_limit').val(),
						priority: $('#priority').val(),
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
					},
					success: function(data) {
						console.log(data);
						$('#form1').trigger('reset');
						if(data['changes_made'] == 1)
						{
							$.ajax(
							{
								url: '/',
								success: function(data)
								{
									$('body').html(data);
									console.log("Updated");
									$('#successmsg').show();
									$('#successmsg').fadeOut(2000);
									
								}
							})
						}
						else
						{
							$('#failuremsg').show();
							$('#failuremsg').fadeOut(2000);
							console.log("Wrong values entered");
						}
						// $("#updatebtn").mouseup(function(){
						// 	// setTimeout(function()
						// 	// {
						// 		$(this).blur();
						//     	console.log("Click Released");
						// 	// },500);
						    
						// })

					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						console.log(errorThrown);
						console.log('error', errorThrown);
					}
				})
				return false;
			}

			
		})

		{% regroup all|dictsort:'code' by code as code_list %}
		{% for code,entries in code_list %}
		$('#{{code}}').click(function()
		{
			$('#{{code}}_rows').toggle();
			$('.table-plus-{{code}}').toggle();
			$('.table-minus-{{code}}').toggle();
		})
		{% endfor %}

	})
	</script> 
	{% endblock javascripts %}
	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>